.container {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  row-gap: 0.5em;
  column-gap: 1em;
  height: 100%;
  margin: 0px 80px 80px 80px;
}
h2 {
  font-family: cursive;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}
/******************************************************************/
.text-1 {
  color: white;
  text-align: center;
  font-family: cursive;
  font-size: 40px;
  background-color: black;
  font-weight: 700;
  animation: glow-1 1000ms infinite alternate;
}

@keyframes glow-1 {
  form {
    text-shadow: 0 0 10px #ee1c1c, 0 0 20px #f3183d, 0 0 30px #ff1313;
  }

  to {
    text-shadow: 0 0 5px #ee1c1c, 0 0 10px #f3183d, 0 0 15px #ff1313;
  }
}
/********************************************************************************/
.text-2 {
  color: white;
  text-align: center;
  font-family: cursive;
  font-size: 40px;
  background-color: black;
  font-weight: 700;
  animation: glow-two 1000ms infinite alternate;
}

@keyframes glow-two {
  form {
    text-shadow: 0 0 10px #1877f2, 0 0 20px #1459b3, 0 0 30px #179bff;
  }

  to {
    text-shadow: 0 0 5px #1877f2, 0 0 10px #1459b3, 0 0 15px #179bff;
  }
}

/********************************************************************************/

.text-3 {
  color: white;
  text-align: center;
  font-family: cursive;
  font-size: 40px;
  background-color: black;
  font-weight: 700;
  animation: glow-3 1000ms infinite alternate;
}

@keyframes glow-3 {
  form {
    text-shadow: 0 0 10px #fd9800, 0 0 20px #f17e31, 0 0 30px #ffd51b;
  }

  to {
    text-shadow: 0 0 5px #fd9800, 0 0 10px #f17e31, 0 0 15px #ffd51b;
  }
}

/********************************************************************************/

.text-4 {
  color: white;
  text-align: center;
  font-family: cursive;
  font-size: 40px;
  background-color: black;
  font-weight: 700;
  animation: glow-4 1000ms infinite alternate;
}

@keyframes glow-4 {
  form {
    text-shadow: 0 0 10px #fd16fd, 0 0 20px #fc00bd, 0 0 30px #ff00ea;
  }

  to {
    text-shadow: 0 0 5px #fd16fd, 0 0 10px #fc00bd, 0 0 15px #ff00ea;
  }
}
