.input-box {
  position: relative;
  height: 35px;
  overflow: hidden;
}

.input-box::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #1377c8;
  scale: 1;
  transform-origin: left;
  transition: scale 250ms;
}
.input-box:focus-within::before {
  scale: 1;
}

.input {
  width: 100%;
  height: 100%;
}
