.blend {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  position: absolute;
  height: 400px;
  width: 100%;
}

h1 {
  font-size: 150px;

  mix-blend-mode: overlay;
}
